.container{
   height: 700px;
   width: 799px;

    background-color: red;
}

#c1{
    background-color: yellow;
    height: 300px;
    width: 300px;
}
#c2{
    background-color: gray;
    height: 300px;
    width: 300px;
}

#r{
    background-color: pink;

}