.container{

    color: white;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-font);

    
    font-size: 40px;
    padding: 20px 60px;


}

.header{
    height: 100vh;
    background-color: black;
    background-color: var(--background-color);

    background-image: url("/ProgrammingHero/img/Screenshot\ 2024-05-24\ 213607.png");

    background-repeat: no-repeat;
    background-position:center;
    
}

.logo{
    width: 118px;
    text-align: right;

}

@media only screen and (min-width: 600px) and (max-width: 1200px){

.container{
    color: red;


}

}

.bannerTitel h1{
    font-weight: bolder;
    color: var(--primary-font);
    padding: 0px 60px;
  font-size: 90px;
  text-transform: uppercase;
letter-spacing: 5px;

margin: 10px 0px;

}

.name{
    padding-right: 85px;

}

.bannerDes p{
    color: white;
    font-size: 20px;
    padding-left: 60px;
    text-transform: uppercase;
    font-weight: bolder;

}

.all{
    display: flex;
    justify-content: space-between;

    
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 13px;


}

.bannerImg{
    background-color: white;
    width: fit-content;
   margin-right: 60px;
   height:270px;


}

.banimg{
    height:270px;



}
.des h1{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 30px;


}

.two{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.three{
    display: flex;


}
