#hh{
    color: red;
    display: inline;
    text-align: center;
    display: flex;
}
#hh2{

    color: green;
    text-align: center;
    padding-left: 10px;
}
div{
    display: flex;
    padding-left: 40%;
}