*{
    background-color: antiquewhite;
}


.loader{
    width: 550px;
    height: 550px;
    border-radius: 50%;

   border: 29px solid red;
   border-bottom: 29px solid yellow;
   border-top: 29px solid #ffff00;
   /* border-right: 29px solid blue; */

   animation: Animate 4s ease-in-out 2s infinite normal;
   position: absolute;
   left: 30%;
   top: 10%;
   background-image: url(/imges/Cat.jpg);
   background-size: cover;

   
}




@keyframes Animate{
    0%{
        transform: rotate(0deg);
       
    }
    100%{
        transform: rotate(360deg);
        
    }
}

