div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    position: static;
}

#box2{
position: relative;
top: 20px;
left: 15px;
z-index: -3;
}

#box3{
    /* position: absolute; */
    position:sticky;
top: 0px;
    left: 50px;
    z-index: -2;

}  

#box4{
    position: fixed;
    top:0px;
}