*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

#d1{
    height: 60px;
    background-color: #0f1111;
}

#a1{
    font-size: 25px;
    color: #f08804;
}
button{
    background-color: #f08804;

}

a{
    padding-right: 200px;
}