*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(11, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 400px;
    width: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    transform: scale(1);
    cursor: pointer;
    

}