
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');


:root{
    --primary-font: #FEFFFF;
    --background-color: #0c0418;
    --primary-color:#BA0BF9;
   }
   
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Antonio", sans-serif;


}



html,body{
    height: 100%;
    width: 100%;

}