*{
    padding: 0;
    margin: 0;
    border: box-border;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 30%;
    height: 40%;
    background-color: black;
}


/* .car1{
    width: 100px;
    height: 120px;
    background-color: rebeccapurple;

}
.car1{
    width: 100px;
    height: 160px;
    background-color: rebeccapurple;
    position: absolute;

}
.car2{
    width: 120px;
    height: 130px;
    background-color: rgb(51, 143, 153);
    position: absolute;
   
}
.car3{
    width: 150px;
    height: 140px;
    background-color: rgb(153, 126, 51);

} */

/* .boro{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: red;
}

.choto{
    position: absolute;
    left: 50%;

    height: 100px;
    width: 100px;
    background-color: yellow;

} */

.box{
   display:flex;
   justify-content: center;
   align-items: center;
    width: 500px;
    height: 500px;
    background-color: rgb(155, 17, 17);
}
.box1{
    width: 100px;
    height: 100px;
    background-color: rgb(17, 155, 102);
}
.box2{
    width: 130px;
    height: 130px;
    background-color: rgb(75, 17, 155);
}
.box3{
    width: 150px;
    height: 150px;
    background-color: rgb(7, 243, 23);
}