body{
    text-align: center;
}

div{
    height: 50px;
    width: 150px;
    display:inline-block;
    border:2px solid black;
    color: red;

}
#container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content:center;

    flex-wrap: wrap;
    align-content: flex-start;
    
    
}

#box1{
    background-color: aqua;
    
}
#box2{
    background-color: pink;
    height: 200px;

}
#box3{
    background-color:red ;
    height: 75px;

}
#box4{
    background-color: green;


}
#box5{
    background-color: blue;

}