#box1{
    width: 100px;
    height: 100px;
    background-color: green;
}

.box2{
   /* width: 50px; */
   width: 30%;
   margin-left: 10%;

    height: 50px;
    background-color: yellow;

}

#div1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}

#div2{
    height: 50px;
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;
}