*{
    color: black;
}


#heading1{
    color:#ff0000;
}
#h2{
    color: yellow;
}


.h3{
    color: black;
}




p{
    color:brown;
}


button{
    color:rgb(97, 06, 87);
    background-color: aqua;
}


body{
    background-color:antiquewhite;
}


#box{
    color: red;
    background-color: aqua;
}

.h1{ color: rgb(43, 226, 137);

}

/* h1,h2,h3{
    color: red;
} */
#hh{
    background-color: green;
}
